.app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;

	background: url("background.jpg") no-repeat center center fixed;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;
}
